body {
	font-family: 'Shadows Into Light', cursive;
}

h1 {
	margin-top: 40px;
	text-align: center;
}

h3 {
	margin-top: 10px;
}

img.purchased {
	float: left;
}

img.delete {
	float: right;
}

/*is setting the contaniner div to the width i want for the form and list the right approach? - yes! */
.container {
	width: 550px;
	margin: auto;
	top: 150px;
	text-align: center;
}

#form {
	background-color: #E3E3ED;
	border-radius: 15px;
	padding: 5px;
}

li {
	list-style-type: none;
	cursor: pointer;
}

.item {
	padding: 10px;
	background-color: #E3E3ED;
	border-radius: 15px;
	margin-top: 5px;
}

ul {
	padding: 0px;
	margin-bottom: 10px;
}

#reset_button p {
	font-size: 1.2em;
}

#reset_button img {
	margin-left: 5px;
	width: 15px;
	height: 15px;
}



